Backend_n_apis/MedicApp/.env
Backend_n_apis/MedicApp/Backend/__pycache__/
Backend_n_apis/MedicApp/Backendapi/__pycache__/
Backend_n_apis/MedicApp/MedicApp/__pycache__/
Backend_n_apis/MedicApp/Backend/migrations/__pycache__/
Backend_n_apis/MedicApp/Backendapi/migrations/__pycache__/
Frontend/MAFrontend/.env
Frontend/MAFrontend/src/pages/@protect/ProtectedRoute.jsx
Frontend/MAFrontend/src/pages/@Dashboard/pages/patients/patients.jsx
.gitignore
.gitignore
Frontend/MAFrontend/src/pages/@Dashboard/pages/doctors/doctors.jsx
Frontend/MAFrontend/src/pages/@Dashboard/dashboard.jsx
Frontend/MAFrontend/src/pages/@Dashboard/pages/categories/categories.jsx
.gitignore
node_modules/
Frontend/MAFrontend/src/pages/@Dashboard/adminDashboard.jsx
Frontend/MAFrontend/src/pages/@Dashboard/nav.jsx
Backend_n_apis/MedicApp/MedicApp/.env
